%body{ id: @controller }
  = yield( :header )
  - # %div{ id: :contents , class: "container-fluid" }
  %div{ id: :contents , class: [ :container , :clearfix ] }
    %div{ id: :main_content_center , class: "col-md-6"}
      = yield
