= render "application/common_content"

- content_for :right_contents do
  - #

%div{ id: :navi_dom , class: @controller }
  %p<
    = link_to( 'Start', url_for( controller: @controller , action: :approaching) , method: :post , remote: true )
  %p<
    = link_to( 'Stop', url_for( controller: @controller , action: :stop_vibration ) , method: :post , remote: true )
